#contact{
    border: solid rgba(0, 0, 0, 0.692);
    width: 250px;
    height: 175px;
    padding: 20px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#division{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#sub{
    position: relative;
    top: 8px;
}